In [14]:
# ==========================================
# Data Loading & Cleaning
# ==========================================
import pandas as pd
import numpy as np
import glob
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.neighbors import NearestNeighbors

# 1. Load & gabungkan CSV
files = glob.glob("data/raw/*.csv")
df = pd.concat([pd.read_csv(f) for f in files], ignore_index=True)
df.columns = (
    df.columns.str.strip().str.lower()
              .str.replace(" ", "_")
              .str.replace(r"\(.*?\)", "", regex=True)
              .str.replace("/", "_")
              .str.replace("__", "_")
              .str.replace("-", "_")
              .str.strip("_")
)
df['date'] = pd.to_datetime(df['date'], errors='coerce')
df = df.dropna(subset=['date','country','area'])
df.describe()

,date,ammonia,biochemical_oxygen_demand,dissolved_oxygen,orthophosphate,ph,temperature,nitrogen,nitrate,ccme_values
count,25651,25651.000000,25651.000000,25651.000000,25651.000000,25651.000000,25651.000000,25651.000000,25651.000000,25651.000000
mean,2009-03-27 06:11:48.182916864,0.180378,1.180863,8.490642,0.063232,7.951231,21.726652,0.123046,1.281441,95.993955
min,1968-12-01 00:00:00,0.000000,0.000000,0.058333,0.000000,2.100000,0.000000,0.000000,0.000000,37.659232
25%,2004-11-10 00:00:00,0.027000,0.500000,6.100000,0.007000,7.800000,18.000000,0.014000,0.042000,93.180250
50%,2009-09-01 00:00:00,0.056000,0.800000,8.200000,0.014000,8.000000,22.200000,0.020000,0.094000,100.000000
75%,2013-12-12 00:00:00,0.130000,1.366685,11.684103,0.029000,8.100000,26.400000,0.052000,0.240000,100.000000
max,2021-12-02 00:00:00,63.836364,231.108000,16.930476,35.337500,19.445000,89.000000,41.784200,150.000000,100.000000
std,NaN,1.158218,2.867754,2.813504,0.777032,0.351018,5.485493,0.593947,5.255924,6.256453

In [15]:
# 2. Data Cleaning (domain-based filtering)
initial_count = len(df)  # jumlah data sebelum cleaning

df = df[(df['ph'] >= 4) & (df['ph'] <= 10)]
df = df[(df['temperature'] >= 0) & (df['temperature'] <= 40)]
df = df[df['ammonia'] <= 10]
df = df[df['biochemical_oxygen_demand'] <= 50]
df = df[df['orthophosphate'] <= 1]
df = df[df['nitrogen'] <= 10]
df = df[df['nitrate'] <= 50]

final_count = len(df)  # jumlah data setelah cleaning
deleted_count = initial_count - final_count

print(f"Jumlah data awal: {initial_count}")
print(f"Jumlah data setelah cleaning: {final_count}")
print(f"Jumlah data yang dihapus: {deleted_count}")

# Menentukan kolom numerik
num_cols = df.select_dtypes(include='number').columns.tolist()
num_cols = [c for c in num_cols if c not in ['ccme_values', 'ccme_wqi_code']]

# Statistik deskriptif
df.describe()

Jumlah data awal: 25651
Jumlah data setelah cleaning: 25452
Jumlah data yang dihapus: 199

,date,ammonia,biochemical_oxygen_demand,dissolved_oxygen,orthophosphate,ph,temperature,nitrogen,nitrate,ccme_values
count,25452,25452.000000,25452.000000,25452.000000,25452.000000,25452.000000,25452.000000,25452.000000,25452.000000,25452.000000
mean,2009-03-24 23:03:21.980198144,0.122760,1.113556,8.482102,0.028767,7.952216,21.785461,0.111060,1.091613,96.267933
min,1968-12-01 00:00:00,0.000000,0.000000,0.058333,0.000000,4.100000,0.000000,0.000000,0.000000,51.076024
25%,2004-11-10 00:00:00,0.027000,0.500000,6.100000,0.007000,7.800000,18.000000,0.014000,0.041000,93.181497
50%,2009-08-07 00:00:00,0.055000,0.800000,8.200000,0.014000,8.000000,22.300000,0.020000,0.093000,100.000000
75%,2013-12-09 00:00:00,0.130000,1.300000,11.684103,0.028000,8.100000,26.400000,0.051000,0.230000,100.000000
max,2021-12-02 00:00:00,9.903110,42.100000,16.100000,0.960000,9.890000,32.100000,9.050000,50.000000,100.000000
std,NaN,0.376039,1.219039,2.818957,0.059311,0.329495,5.435426,0.451301,3.973857,5.237777

In [16]:
# 3. Outlier removal (IQR)
Q1 = df[num_cols].quantile(0.25)
Q3 = df[num_cols].quantile(0.75)
IQR = Q3 - Q1
df_clean = df[~((df[num_cols] < (Q1 - 1.5*IQR)) | (df[num_cols] > (Q3 + 1.5*IQR))).any(axis=1)]
df_clean.describe()

,date,ammonia,biochemical_oxygen_demand,dissolved_oxygen,orthophosphate,ph,temperature,nitrogen,nitrate,ccme_values
count,19662,19662.000000,19662.000000,19662.000000,19662.000000,19662.000000,19662.000000,19662.000000,19662.000000,19662.000000
mean,2009-05-26 01:43:29.093683456,0.074476,0.788024,8.296040,0.015104,8.005592,22.791708,0.023774,0.099032,97.453196
min,1976-10-04 00:00:00,0.002576,0.100000,0.100000,0.000000,7.400000,6.172000,0.000000,0.000000,86.329554
25%,2005-01-12 00:00:00,0.024000,0.500000,6.000000,0.007000,7.900000,19.400000,0.012000,0.029000,93.190379
50%,2009-05-22 00:00:00,0.047000,0.700000,7.500000,0.012000,8.000000,23.000000,0.019000,0.077000,100.000000
75%,2013-11-01 00:00:00,0.110000,1.000000,11.684103,0.021000,8.200000,26.400000,0.030000,0.130000,100.000000
max,2017-12-10 00:00:00,0.280000,2.500000,12.700000,0.059000,8.533330,31.800000,0.100000,0.510000,100.000000
std,NaN,0.065670,0.468061,2.875592,0.010520,0.210308,4.050359,0.018606,0.093636,3.311349

In [17]:
# 4. CCME WQI calculation
OBJECTIVES = {
    'ammonia': 0.5, 'biochemical_oxygen_demand': 5.0, 'dissolved_oxygen': 6.5,
    'orthophosphate': 0.1, 'ph': None, 'temperature': 35.0, 'nitrogen': 1.0, 'nitrate': 10.0
}
HIGHER_IS_WORSE = {
    'ammonia': True, 'biochemical_oxygen_demand': True, 'dissolved_oxygen': False,
    'orthophosphate': True, 'ph': None, 'temperature': True, 'nitrogen': True, 'nitrate': True
}
def ccme_wqi_from_row(row, params):
    def excursion(v,obj,higher=True):
        if pd.isna(v): return 0
        return (v/obj-1) if (higher and v>obj) else ((obj/v-1) if (not higher and v<obj) else 0)
    excursions = []
    failed_vars = set()
    failed_tests = 0
    total_tests = len(params)
    for p in params:
        value = row[p]
        if p=="ph":
            low, high = 6.5, 8.5
            exc = (low/value-1) if value<low else ((value/high-1) if value>high else 0)
        else:
            obj = OBJECTIVES.get(p)
            exc = excursion(value,obj,HIGHER_IS_WORSE[p]) if obj else 0
        if exc>0:
            excursions.append(exc)
            failed_vars.add(p)
            failed_tests +=1
    F1 = len(failed_vars)/total_tests*100
    F2 = failed_tests/total_tests*100
    normalized_exc = np.sum(excursions)/total_tests
    F3 = normalized_exc/(0.01*normalized_exc+0.01) if normalized_exc>0 else 0
    score = 100 - (np.sqrt(F1**2+F2**2+F3**2)/1.732)
    score = np.clip(score,0,100)
    if score>=95: cat='Excellent'
    elif score>=80: cat='Good'
    elif score>=65: cat='Fair'
    elif score>=45: cat='Marginal'
    else: cat='Poor'
    return score, cat

df_clean[['ccme_values','ccme_wqi']] = df_clean.apply(
    lambda r: pd.Series(ccme_wqi_from_row(
        r, ["ammonia","biochemical_oxygen_demand","dissolved_oxygen",
            "orthophosphate","ph","temperature","nitrogen","nitrate"]
    )), axis=1
)
df_clean.describe()

C:\Users\Rafael Po\AppData\Local\Temp\ipykernel_15820\4181548535.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean[['ccme_values','ccme_wqi']] = df_clean.apply(

,date,ammonia,biochemical_oxygen_demand,dissolved_oxygen,orthophosphate,ph,temperature,nitrogen,nitrate,ccme_values
count,19662,19662.000000,19662.000000,19662.000000,19662.000000,19662.000000,19662.000000,19662.000000,19662.000000,19662.000000
mean,2009-05-26 01:43:29.093683456,0.074476,0.788024,8.296040,0.015104,8.005592,22.791708,0.023774,0.099032,96.439389
min,1976-10-04 00:00:00,0.002576,0.100000,0.100000,0.000000,7.400000,6.172000,0.000000,0.000000,47.673409
25%,2005-01-12 00:00:00,0.024000,0.500000,6.000000,0.007000,7.900000,19.400000,0.012000,0.029000,89.776152
50%,2009-05-22 00:00:00,0.047000,0.700000,7.500000,0.012000,8.000000,23.000000,0.019000,0.077000,100.000000
75%,2013-11-01 00:00:00,0.110000,1.000000,11.684103,0.021000,8.200000,26.400000,0.030000,0.130000,100.000000
max,2017-12-10 00:00:00,0.280000,2.500000,12.700000,0.059000,8.533330,31.800000,0.100000,0.510000,100.000000
std,NaN,0.065670,0.468061,2.875592,0.010520,0.210308,4.050359,0.018606,0.093636,5.125450

In [18]:
# ==========================================
# 5. Synthetic Data Generation (Poor)
# ==========================================
def generate_synthetic_poor(n, df_reference):
    rows=[]
    for _ in range(n):
        r = {c: np.random.uniform(df_reference[c].min(), df_reference[c].max()) for c in num_cols}
        r.update({
            "country":"Synthetic", "area":"Synthetic",
            "date": df_reference['date'].sample(1).iloc[0]  # random dari asli
        })
        rows.append(r)
    df_synth = pd.DataFrame(rows)
    df_synth[['ccme_values','ccme_wqi']] = df_synth.apply(
        lambda r: pd.Series(ccme_wqi_from_row(
            r, ["ammonia","biochemical_oxygen_demand","dissolved_oxygen",
                "orthophosphate","ph","temperature","nitrogen","nitrate"]
        )), axis=1
    )
    return df_synth

# Hitung jumlah synthetic Poor yang dibutuhkan
target_size = df_clean['ccme_wqi'].value_counts().max()
current_poor = df_clean[df_clean['ccme_wqi']=='Poor'].shape[0]
need_poor = target_size - current_poor
df_synth_poor = generate_synthetic_poor(need_poor, df_clean) if need_poor>0 else pd.DataFrame()

df_balanced = pd.concat([df_clean, df_synth_poor], ignore_index=True)
print(f"Jumlah data setelah balancing: {len(df_balanced)}")
print("Describe():\n ", df_balanced.describe())

Jumlah data setelah balancing: 32783
Describe():
                                  date       ammonia  biochemical_oxygen_demand  \
count                          32783  32783.000000               32783.000000
mean   2009-06-06 13:47:35.687399168      0.101194                   0.992687
min              1976-10-04 00:00:00      0.002576                   0.100000
25%              2005-02-12 00:00:00      0.032000                   0.500000
50%              2009-06-02 00:00:00      0.079000                   0.800000
75%              2013-11-04 00:00:00      0.160000                   1.400000
max              2017-12-10 00:00:00      0.280000                   2.500000
std                              NaN      0.078645                   0.621010

       dissolved_oxygen  orthophosphate            ph   temperature  \
count      32783.000000    32783.000000  32783.000000  32783.000000
mean           7.550363        0.020900      7.990049     21.255438
min            0.100000        0.000000      7.400000      6.172000
25%            5.241571        0.008000      7.800000     17.400000
50%            7.200000        0.016705      8.000000     21.836273
75%           11.684103        0.031000      8.200000     26.100000
max           12.700000        0.059000      8.533330     31.800000
std            3.327230        0.015236      0.264117      5.942724

           nitrogen       nitrate   ccme_values
count  32783.000000  32783.000000  32783.000000
mean       0.034196      0.161088     94.475383
min        0.000000      0.000000     45.828023
25%        0.014000      0.050000     89.644621
50%        0.023772      0.110000    100.000000
75%        0.051112      0.250000    100.000000
max        0.100000      0.510000    100.000000
std        0.026608      0.140473      8.117432

In [19]:
# ==========================================
# 6. Synthetic Good (SMOTE-like)
# ==========================================
df_good = df_balanced[df_balanced['ccme_wqi']=='Good']
need_good = target_size - len(df_good)

X_good = df_good[num_cols].values
k = min(5, len(X_good)-1)
nn = NearestNeighbors(n_neighbors=k).fit(X_good)

synthetic_good=[]
for _ in range(need_good):
    idx = np.random.randint(0,len(X_good))
    distances, neighbors = nn.kneighbors([X_good[idx]])
    neighbor_idx = np.random.choice(neighbors[0][1:])
    alpha = np.random.rand()
    new_sample = X_good[idx] + alpha*(X_good[neighbor_idx]-X_good[idx])
    synthetic_good.append(new_sample)

synthetic_good = pd.DataFrame(synthetic_good, columns=num_cols)
synthetic_good['ccme_wqi']='Good'
synthetic_good['country']='Synthetic'
synthetic_good['area']='Synthetic'
synthetic_good['date'] = df_clean['date'].sample(len(synthetic_good)).values

df_balanced = pd.concat([df_balanced, synthetic_good], ignore_index=True)
df_balanced = df_balanced.sample(frac=1, random_state=42).reset_index(drop=True)
print(f"Jumlah data setelah balancing: {len(df_balanced)}")
print("Describe():\n ", df_balanced.describe())

Jumlah data setelah balancing: 34196
Describe():
                                  date       ammonia  biochemical_oxygen_demand  \
count                          34196  34196.000000               34196.000000
mean   2009-06-08 03:23:21.005965568      0.101534                   0.990776
min              1976-10-04 00:00:00      0.002576                   0.100000
25%              2005-02-06 00:00:00      0.033000                   0.500000
50%              2009-06-05 00:00:00      0.080000                   0.800000
75%              2013-11-04 00:00:00      0.160000                   1.400000
max              2017-12-10 00:00:00      0.280000                   2.500000
std                              NaN      0.078309                   0.619681

       dissolved_oxygen  orthophosphate            ph   temperature  \
count      34196.000000    34196.000000  34196.000000  34196.000000
mean           7.436095        0.020984      7.989667     21.285727
min            0.100000        0.000000      7.400000      6.172000
25%            5.100000        0.008000      7.800000     17.400000
50%            7.000906        0.017000      8.000000     21.900000
75%           11.512704        0.031006      8.200000     26.200000
max           12.700000        0.059000      8.533330     31.800000
std            3.317697        0.015178      0.263453      5.953212

           nitrogen       nitrate   ccme_values
count  34196.000000  34196.000000  32783.000000
mean       0.034332      0.161222     94.475383
min        0.000000      0.000000     45.828023
25%        0.014889      0.050744     89.644621
50%        0.024000      0.110000    100.000000
75%        0.051424      0.250000    100.000000
max        0.100000      0.510000    100.000000
std        0.026493      0.139965      8.117432

In [ ]:
# ==========================================
# 7. Label Encoding & Scaling
# ==========================================
le = LabelEncoder()
df_balanced['label'] = le.fit_transform(df_balanced['ccme_wqi'])

scaled_cols = ['ammonia','biochemical_oxygen_demand','dissolved_oxygen',
               'orthophosphate','ph','temperature','nitrogen','nitrate']

scaler = StandardScaler()
df_balanced.to_csv("data/Cleaned_dataset.csv", index=False)
df_balanced[scaled_cols] = scaler.fit_transform(df_balanced[scaled_cols])
df_balanced.describe()

,date,ammonia,biochemical_oxygen_demand,dissolved_oxygen,orthophosphate,ph,temperature,nitrogen,nitrate,ccme_values,label
count,34196,3.419600e+04,3.419600e+04,3.419600e+04,3.419600e+04,3.419600e+04,3.419600e+04,3.419600e+04,3.419600e+04,32783.000000,34196.000000
mean,2009-06-08 03:23:21.005965568,-1.535014e-17,-5.589426e-17,-1.344891e-16,3.116780e-17,2.240134e-15,-2.308495e-16,-7.511440e-17,9.204890e-17,94.475383,0.840595
min,1976-10-04 00:00:00,-1.263701e+00,-1.437495e+00,-2.211233e+00,-1.382517e+00,-2.238254e+00,-2.538789e+00,-1.295904e+00,-1.151897e+00,45.828023,0.000000
25%,2005-02-06 00:00:00,-8.751823e-01,-7.919927e-01,-7.041418e-01,-8.554312e-01,-7.199362e-01,-6.527205e-01,-7.338814e-01,-7.893455e-01,89.644621,0.000000
50%,2009-06-05 00:00:00,-2.749865e-01,-3.078657e-01,-1.311741e-01,-2.624598e-01,3.922270e-02,1.031850e-01,-3.899857e-01,-3.659717e-01,100.000000,0.000000
75%,2013-11-04 00:00:00,7.466235e-01,6.603884e-01,1.228765e+00,6.603491e-01,7.983816e-01,8.254947e-01,6.451591e-01,6.342962e-01,100.000000,2.000000
max,2017-12-10 00:00:00,2.279038e+00,2.435521e+00,1.586637e+00,2.504740e+00,2.063634e+00,1.766177e+00,2.478756e+00,2.491937e+00,100.000000,3.000000
std,NaN,1.000015e+00,1.000015e+00,1.000015e+00,1.000015e+00,1.000015e+00,1.000015e+00,1.000015e+00,1.000015e+00,8.117432,0.990318

In [21]:
# ==========================================
# 8. Cek distribusi akhir
# ==========================================
print(df_balanced['ccme_wqi'].value_counts())
print(df_balanced.describe())
print(le.classes_)
df_balanced.to_csv("data/Preprocessed_dataset.csv", index=False)

ccme_wqi
Excellent    19476
Good         13121
Fair          1147
Marginal       452
Name: count, dtype: int64
                                date       ammonia  biochemical_oxygen_demand  \
count                          34196  3.419600e+04               3.419600e+04
mean   2009-06-08 03:23:21.005965568 -1.535014e-17              -5.589426e-17
min              1976-10-04 00:00:00 -1.263701e+00              -1.437495e+00
25%              2005-02-06 00:00:00 -8.751823e-01              -7.919927e-01
50%              2009-06-05 00:00:00 -2.749865e-01              -3.078657e-01
75%              2013-11-04 00:00:00  7.466235e-01               6.603884e-01
max              2017-12-10 00:00:00  2.279038e+00               2.435521e+00
std                              NaN  1.000015e+00               1.000015e+00

       dissolved_oxygen  orthophosphate            ph   temperature  \
count      3.419600e+04    3.419600e+04  3.419600e+04  3.419600e+04
mean      -1.344891e-16    3.116780e-17  2.240134e-15 -2.308495e-16
min       -2.211233e+00   -1.382517e+00 -2.238254e+00 -2.538789e+00
25%       -7.041418e-01   -8.554312e-01 -7.199362e-01 -6.527205e-01
50%       -1.311741e-01   -2.624598e-01  3.922270e-02  1.031850e-01
75%        1.228765e+00    6.603491e-01  7.983816e-01  8.254947e-01
max        1.586637e+00    2.504740e+00  2.063634e+00  1.766177e+00
std        1.000015e+00    1.000015e+00  1.000015e+00  1.000015e+00

           nitrogen       nitrate   ccme_values         label
count  3.419600e+04  3.419600e+04  32783.000000  34196.000000
mean  -7.511440e-17  9.204890e-17     94.475383      0.840595
min   -1.295904e+00 -1.151897e+00     45.828023      0.000000
25%   -7.338814e-01 -7.893455e-01     89.644621      0.000000
50%   -3.899857e-01 -3.659717e-01    100.000000      0.000000
75%    6.451591e-01  6.342962e-01    100.000000      2.000000
max    2.478756e+00  2.491937e+00    100.000000      3.000000
std    1.000015e+00  1.000015e+00      8.117432      0.990318
['Excellent' 'Fair' 'Good' 'Marginal']

In [22]:
import joblib

le = LabelEncoder()
df_balanced['label'] = le.fit_transform(df_balanced['ccme_wqi'])

# simpan encoder
joblib.dump(le, 'notebooks/label_encoder.pkl')

['notebooks/label_encoder.pkl']